.feedback
  padding-bottom: 1rem
  &_in
    position: relative
    &:before
      position: absolute
      content: ''
      bottom: 0
      background: url("../img/dot-bg.png") repeat-x
      height: 2px
      width: 100%
  &_invitation
    h2
      color: $accent
      font-size: 2.8rem
      line-height: 1.2
    p
      font-size: 1.2rem
      line-height: 1.8
      margin-bottom: 1rem

    .medium
      font-size: medium
      line-height: 1.3
    a
      text-decoration: underline
      font-size: 1.2rem
      margin: 2rem auto
  &_customer
    .feed-cus
      color: $accent
      font-size: 1.6rem
      font-weight: bold
      text-transform: uppercase
    .item-title
      font-size: 1.2rem
      color: $accent
      font-weight: bold
    .sata
      font-size: 1.1rem
      color: $accent
      margin-left: 50%
      font-weight: 200
    p
      font-size: 1.1rem
      color: #333
    a
      color: $accent
      font-size: 1.2rem
      font-weight: bold
      text-decoration: underline
