.service
  padding-top: 5rem
  padding-bottom: 4rem
  .card_f
    position: relative
    &:before
      position: absolute
      content: ''
      top: 0
      background: url("../img/green-bg.png")
      height: 5px
      width: 100%
  .card_s
    position: relative
    &:before
      position: absolute
      content: ''
      top: 0
      background: url("../img/purple-bg.png")
      height: 5px
      width: 100%
  .card_t
    position: relative
    &:before
      position: absolute
      content: ''
      top: 0
      background: url("../img/azure-bg.png")
      height: 5px
      width: 100%
  .card
    position: relative
    padding-top: 2rem
    &-body
      h5
        color: $accent
        text-transform: uppercase
    &-text
      font-size: 1.2rem
      position: relative
      line-height: 1.3em
      overflow: hidden
      img
        float: right

        top: -1rem
        right: 0
        color: #333333
    a
      color: #333333
      font-size: 1.2rem
      text-align: left
      text-transform: none
      text-decoration: underline
      &:hover
        text-decoration: none
        transition: all .3s ease-in
        &:focus
          text-decoration: none
          transition: all .3s ease-in
        &:active
          text-decoration: none
          transition: all .3s ease-in


