@import "base/_mixins";
@import "base/_variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
section{
  position: relative;
}
// body {
//   background: url(http://localhost:3000/01_main_disease_pc.jpg) no-repeat scroll 0 0 transparent;
//   background-position: top 0% left 49%; 
//   }


// .header,
// .navigation,
// .btn,
// section,
// .container,
// .footer {
// 	opacity: 0.5;
// }


html {
  width: 100%;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 56.25%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-style: inherit;
  text-align: left;
  overflow-x: hidden;
  min-width: 320px;
  position: relative;
  vertical-align: baseline;
  counter-reset: h2;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: 200ms ease;

  &:hover,
  &:focus,
  &:active {
    color: $color-secondary;
    cursor: pointer;
    transition: 200ms ease;
    text-decoration: none;
  }
}

input {
  outline: none;
  border: 0;
  background: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

textarea {
  outline: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

li {
  font-family: "Roboto", sans-serif;
  list-style: none;
}

%clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
}
