
// COLORS
$color-primary: #84ad40;
$color-primary-light: #d8ebbc;
$color-primary-lignt-l: #f6ffe8;

$color-secondary: #f99c00;
$color-secondary-yellow: #ffd300;
$color-dark-secondary: #c76d00;
$color-dark-secondary-2: #ad5f00;
$color-secondary-3: #f89c00;


$color-white: #fff;
$color-black: #000;

$color-gray-dark: #333;
$color-gray: #999;
$color-light-gray: #aaa;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;