@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .header-content
    padding-top: 30%
  .header-content h1
    font-size: 140px
  .header-content p
    font-size: 18px
  .header-content .play_button img
    position: absolute
    bottom: 60px
    left: 20px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 540px)
  .search-form
    right: 70%
  .toggle-mnu
    right: 0
    margin-top: 50px
  .header-content h1
    font-size: 50px
    padding-top: 30px
  .header-content p
    width: 55%
    font-size: 12px
    margin-bottom: 5px
  .header-content .play_button
    position: absolute
    width: 80px
    bottom: 30px
    left: 40%
  .footer_top
    h4
      text-align: center
  .scrolled
    .toggle-mnu
      margin-top: 30px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .search-form
    right: 50%
  .toggle-mnu
    right: 10%
    margin-top: 50px
  .header-content h1
    font-size: 50px
    padding-top: 30px
  .header-content p
    width: 55%
    font-size: 12px
    margin-bottom: 50px
  .header-content .play_button
    position: absolute
    width: 80px
    bottom: -90px
    left: 45%
  .footer_top
    h4
      text-align: center
  .scrolled
    .toggle-mnu
      margin-top: 30px


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

