//Шрифты
$mainFont: "Montserrat-Regular", sans-serif
$boldFont: "Montserrat-Bold", sans-serif
$lightFont: "Montserrat-Light", sans-serif
$hFont: "PlayfairDisplayRegular", sans-serif
$pFont: "MyriadProRegular", sans-serif
