.top-slider__wrapper{
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;

    &--slide{
        padding-top: 3rem;
        padding-bottom: 1rem;
        position: relative;
        color:$color-primary-light;
        border: 10px;
        border-style: solid solid none solid;

        .top__slider-title{
            font-family: 'Comfortaa', cursive;
            font-size: 5rem;
            color: $color-gray-dark;
            font-weight: 300;
            line-height: 64px;
        }

        .top__slider-descrr{
            margin-top: -3rem;
            font-family: inherit;
            font-size: 1.6rem;
            color: $color-light-gray;
            font-weight: 400;
            line-height: 24px;
        }

        .top__slider-item{
            padding-bottom: 3rem;
            .top__slider-link{
                position: relative;
                font-family: inherit;
                font-size: 2rem;
                font-weight: 400;
                line-height: 30px;
                color: $color-black;

                &:after{
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    left: -40px;
                    top: 0px;
                    background-image: url(../img/icons/css_sprites.png);
                    background-position: 420px -15px;
    
                }
            }

            &:last-child{
                margin-bottom: 6rem;
              }
        }

        &:after{
            position: absolute;
            content: "";
            background: url(../../img/icons/icon_big_arrow_hover.png);
            width: 30px;
            height: 16px;
            bottom: 0;
            left: 49%;
        }

        .left {
            width:45%;
            background-color: $color-primary-light;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
        }
        .right {
            width:45%;
            background-color: $color-primary-light;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 10px;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .top__slider-right{
            img{
                background-size: 100%;
            }
        }

    }
  
}

.top-slider__wrapper .slick-arrow{
    width: 50px;
    height: 50px;
    background: $color-white;
    border: 5px solid $color-primary-light;
    border-radius: 6px;
    z-index: 2;
}


.top-slider__wrapper .slick-prev, .top-slider__wrapper .slick-next{
    position: absolute;
    display: block;
    cursor: pointer;
}

.top-slider__wrapper .slick-prev{
    left: -20px;
   
}

.top-slider__wrapper .slick-next{
    right: -20px;
}

.top-slider__wrapper .slick-next:before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    right: 10px;
    top: 7px;
    background-image: url(../img/icons/css_sprites.png);
    background-position: 247px -52px;
    -moz-transform: rotate(-180deg); /* Для Firefox */
    -ms-transform: rotate(-180deg); /* Для IE */
    -webkit-transform: rotate(-180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-180deg); /* Для Opera */
    transform: rotate(-180deg);
   
}
.slick-next:focus:before, 
.slick-next:hover:before,
 .slick-prev:focus:before, 
 .slick-prev:hover:before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    right: 10px;
    top: 7px;
    background-image: url(../../img/icons/icon_big_arrow_hover3.png);
}
.slick-prev:hover:before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    left: 12px;
    top: 10px;
    background-image: url(../../img/icons/icon_big_arrow_hover3.png) no-repeat;
}

.top-slider__wrapper .slick-prev{
    &:before{
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        left: 12px;
        top: 10px;
        background-image: url(../img/icons/css_sprites.png);
        background-position: 247px -52px;
        
    }
    
}