.heading-primary{
        color: $color-white;
        text-transform: uppercase;
        font-family: "Raleway",sans-serif;
        font-size: 4rem;
        font-weight: 700;
        line-height: 5.5rem;
        position: absolute;
        top: 9rem;

    }
    
.heading-secondary{
    position: relative;
    text-transform: uppercase;
    color: $color-primary;
    font-size: 2.4rem;
    font-family: "Raleway-Semibold",sans-serif;
    &:after{
        content: "";
        position: absolute;
        background-color: $color-secondary;
        height: 2px;
        bottom: -3rem;
        left: 47%;
        width: 7.8rem;
        }
    }
.heading-tertiary{
    font-family: "Opensans-Semibold", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: $color-secondary;
    }