//COLOR
$color-primary: #24282f;
$color-primary-text: #232323;
$footer-primary: #2b2f35;
$color-secondary: #b5a263;
$color-white: #fff;
$color-gray:#dedede;
$color-dark-gray: #6e7279; 
$color-light-gray:#f7f7f7;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;