@import "vars"

// Desktop first

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px)
	/**/

// Medium devices (tablets, less than 992px)
@media (max-width: 991px)
  .top_line .top-callback .button
    padding: 0.8rem 1.4rem
    font-size: 1.2rem

  .top_line .top-callback .phone-description
    padding-top: 1.6rem
    font-size: 1rem

  .top_mnu .nav-justified > li > a
    font-size: 1.3rem

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px)
  .top_line .top-callback .button
    padding: 0.6rem 1.1rem
    font-size: 1.2rem

  .top_line .top-callback .phone-description
    padding-top: 1.6rem
    font-size: 1rem

  .top_mnu .nav-justified > li > a
    font-size: 1.3rem

  .navbar-header .navbar-toggle
    border-color: #4c4c4c
    background-color: #999999
    margin-top: 3.5rem

  .navbar-header .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus
    background-color: black

  .navbar-header .navbar-toggle .icon-bar
    background-color: #036ad0



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px)
  .services
    margin-top: -2rem
  .slider .slide-content
    height: 22rem
    width: 40rem
  .slider .slide-content h1
    padding-top: 3rem
    font-size: 2rem
  .slider .slide-content p
    margin-bottom: 1.7rem
  .slider .slide-content .button_s
    padding: 0.7rem 2.3rem
    font-size: 1.2rem
  .services .img_services
    padding-left: 10rem
  .services h3
    padding-left: 10rem
  footer .top_footer .phone h3
    font-size: 1.8rem
  footer .footer_bootom
    text-align: center
  footer .footer_bootom .studio
    padding-left: 0
//		__--__ 		__--__ 		__--__

// Mobile first

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
	/**/

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
  /**/


// Large devices (desktops, 992px and up)
@media (min-width: 992px)
	/**/

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
	/**/