
$contentFont: "ArialRegular", sans-serif
$contentFontBold: "ArialBold"
$logoFont: "ArimoBold"

$linkColor: #036ad0
$greyColorBold: #4c4c4c
$greyColorlight: #999999
$lightblue: #ebf5fe
$accent: #49c8b7
